@font-face {
     font-family: "Helvetica Neue Light";
     src: local('Helvetica Neue Light'),
          url('/assets/font/HelveticaNeueLight.ttf');  
}
body{
    min-width: 700px;
    background-color: #242424;
    background-image: url('/img/background.jpg');
    font-family: "Helvetica Neue Light", serif;
    color: #ffffff;
    margin: 0 auto;
    font-size: 20px;
}
h1{
    font-weight: normal;
    font-size: 26px;
    padding: 0;
    margin: 0;
}
h2{
    font-weight: normal;
    font-style: normal;
    font-size: 36px;
    padding: 0;
    margin: 0;
}
th{
    font-weight: normal;
}
a{
    color: #7ba39c;
    text-decoration: none;
}
#main_container{
    height: 100%;
    text-align: left;
    min-width: 820px;
}
#header{
    height: 50px;
    padding-top: 5px;
    padding-left: 5px;
}
#header span{
    font-size: 36px;
}
#left_sidebar{
    background-color: #3e4143;
    width: 150px;
    min-height: 500px;
    padding-left: 5px;
    display: inline-block;
}
#menu_list{
    list-style-type: none;
    padding: 0;
    margin: 0;
    font-size: 26px;
}
#content{
    vertical-align: top;
    width: 650px;
    display: inline-block;
}
#post_display{
    width: 100%;
}
#post_display th{
       
}